<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>404 Not Found!</title>

    <style>
        body {
            width:100wh;
            height:100vh;
            display:flex;
            margin:0 auto;
            align-items:center;
            justify-content:center;
        }
        h1 {
            height:44px;
        }
    </style>

</head>

<body>

<h1>404 Not Found!</h1>

</body>
</html>