<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

<div>
    <h1>It Works!</h1>
    <table>
        <tbody>
            <tr>
                <td>Framework</td>
                <td>{{application}}</td>
            </tr>
            <tr>
                <td>Version</td>
                <td>{{version}}</td>
            </tr>
            <tr>
                <td>PHP</td>
                <td>{{phpver}}</td>
            </tr>
            <tr>
                <td>Server</td>
                <td>{{software}}</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    <span>I am ready for the new mission!</span>
</p>

</body>
</html>